{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-80">
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'dress1.jpg' %}" alt="First slide">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="my-3">
                                            <h4>
                                                <a href="{% url 'products' %}" class="buy-button btn rounded-0">Checkout Our Garments</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'dress2.jpg' %}" alt="Second slide">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="my-3">
                                            <h4>
                                                <a href="{% url 'products' %}" class="buy-button btn rounded-0">Checkout Our Garments</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'dress3.jpg' %}" alt="Third slide">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="my-3">
                                            <h4>
                                                <a href="{% url 'products' %}" class="buy-button btn rounded-0">Checkout Our Garments</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="card bg-light shadow-lg my-3">
                    <div class="card-body">
                        <h5 class="card-title">About Patterns 4 Fashion</h5>
                        <p class="card-text">
                            Our team is formed out skilled professional pattern-makers and seamstresses specialised
                            in creating dresses and shirts on different sizes and body proportions. For creating the 
                            patterns, our professionals are using a very methodical technique named "Danckaerts method".
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="card bg-light shadow-lg my-3">
                    <div class="card-body">
                        <h5 class="card-title">How does it work?</h5>
                        <p class="card-text">
                            Our team is formed out skilled professional pattern-makers and seamstresses specialised
                            in creating dresses and shirts on different sizes and body proportions. For creating the 
                            patterns, our professionals are using a very methodical technique named "Danckaerts method"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}