{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid pl-0 pr-0 w-100">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'dress1.jpg' %}" alt="Products link slide">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="cover-text">
                                            <h4>The Spring/Summer Collection</h4>
                                            <a href="{% url 'products' %}" class="btn btn-black rounded-0">Checkout Our
                                                Garments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'dress2.jpg' %}" alt="Second slide">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="cover-text">
                                            <h4>Coming Soon!</h4>
                                            <p>Deliver custom made size garments!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'dress3.jpg' %}" alt="Blog slide">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="cover-text">
                                            <h4>Read our latest news!</h4>
                                            <a href="{% url 'blog' %}" class="btn btn-black rounded-0">Checkout Our Blog</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="container-fluid pl-0 pr-0">
        <div class="row no-gutters">
            <div class="col-12 text-center">
                <div class="card border-0 bg-white">
                    <div class="card-img-overlay">
                        <h2 class="card-title text-muted">"Care for your clothes, like the good friends they are."</h2>
                        <p class="card-text text-muted"><em>Joan Crawford</em></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 offset-1 mr-0 ml-0 d-block">
                <h5 class="jumbotron mt-md-5 mb-0">About Patterns 4 Fashion</h5>
                <div class="card bg-light shadow-lg mb-md-5">
                    <div class="card-body">
                        <i class="fas fa-users icons-index d-flex align-items-center justify-content-center"></i>
                        <hr class="hr-index">
                        <p class="card-text ml-md-5 mr-md-5">
                            Our team is formed by skilled professional pattern-makers and seamstresses specialised
                            in creating dresses and shirts on different sizes and body proportions. For creating the
                            patterns, our professionals are using a very methodical technique named "Danckaerts".
                            <span id="dots">...</span><span id="more">
                                Dankckaerts technique is a very old and well thought system for creating clothing patterns
                                and was developed in 1890 by the Danckaerts family: Mrs Danckaerts, tailor and her husband
                                Mr Danckaerts, engineer. Together they built the Danckaerts Fashion School which grew
                                constantly
                                with every new generation of students and teachers. Their notable success was due to the
                                very accurate
                                formulas and methodology they developed while studying the human body proportions which can
                                be found in so many sizes and shapes.
                            </span>
                        </p>
                        <button class="btn-outline-black ml-md-5 mr-md-5" onclick="myFunction()" id="myBtn">Read
                            more</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 offset-1 mr-0 ml-0 d-block">
                <h5 class="jumbotron mt-md-5 mb-0">Our Fabrics' Collection</h5>
                <div class="card bg-light shadow-lg mb-md-5">
                    <div class="card-body">
                        <i class="fas fa-leaf icons-index d-flex align-items-center justify-content-center"></i>
                        <hr class="hr-index">
                        <p class="card-text ml-md-5 mr-md-5">
                            Patterns 4 Fashion uses for the production of the garments a wide selection of certified
                            ecological fabrics manufactured and processed in a sustainable way.
                        </p>
                        <a target="_blank" href="https://www.ecologicaltextiles.nl/"
                            class="btn btn-outline-black ml-md-5 mr-md-5">Check It Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'home/js/readmore.js' %}"></script>
{% endblock %}