{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Patterns <span class="red-text">4</span> Fashion <span class="red-text">Blog</span></h2>
                    <hr>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
                {% for post in post_list %}
                <div class="col-sm-12 col-md-6 card shadow-lg py-5 px-md-5 mb-5 ml-2 mr-2">
                    <div class="card-body ml-md-5 mr-md-5">
                        <a href="{% url 'post_detail' post.slug %}">
                            <img src="{{ post.image.url }}" alt="{{ post.name }}" class="card-img-top w-50 rounded-0 mx-auto d-block">
                        </a>
                        <a href="{% url 'post_detail' post.slug %}">
                            <h2 class="card-title text-center">{{ post.title }}</h2>
                        </a>
                        <small class="card-text text-muted"> <em>published on {{ post.created_on }}</em></small>
                        <p class="card-text">{{ post.content|slice:":80" }}</p>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-outline-black">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation container">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="my-5"><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn btn-black rounded-0">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="my-5"><a href="?page={{ page_obj.next_page_number }}" class="page-link btn btn-black rounded-0"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}  
{% endblock %}