{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid pl-0 pr-0 w-100">
        <div class="row">
            <div class="col-12">
               <h1 class="text-center font-weight-bold">404 Error</h1>
               <h4>Oops, something went wrong. Let's get you back home.</h4>
               <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 mt-5">
                   <span class="text-uppercase">Back to the Website</span>
               </a>
            </div>
        </div>
    </div>
{% endblock %}